.* export-ignore
*.dist export-ignore
phpunit.xml export-ignore
phpstan.neon export-ignore
tests/ export-ignore
pint.json export-ignore
CODE_OF_CONDUCT.md export-ignore
CONTRIBUTING.md export-ignore
SECURITY.md export-ignore
